*/checkpoint
*/__pycache__
*.pyc
__pycache__/*
*.pth
*.pt
*/*.pth
*/*.pt
*.png
*/*.png
*.jpg
*/*.jpg
*/*.tar.gz
*/*.tar
*/*.zip
*/*.gz
*/*.tgz
*/*.bz2
*/*.xz
*/*.tar.xz
*/*.tar.bz2
*/*.tar.gz
*/*.tar.gz2
*/evaluation
*/evaluation/*
*.log
*/*.log